<div class='container px-5 px-sm-0'>
  
  <!--<div class='row'>-->
  <!--  <div class="col-md-5 mx-auto">-->
  <!--    <%#= render 'searches/search' %>-->
  <!--  </div>-->
  <!--</div>-->
  
  <div class='row'>
    <div class='col-md-4'>
      <%= render 'public/users/userinfo', user: current_user, following_users: current_user.follower_users, follower_users: current_user.follower_users %>
    </div>
    <div class='col-md-8'>
      <%= render 'public/searches/serch_result',users: @users, posts: @posts, range: @range %>
    </div>
  </div>
</div>