<br>
<br>
<div class="text-center border-0">
  <h3>About</h3>
  <p>ヨーヨーで新しい技を教え合いたい…</p>
  <p>ベーコマで熱い戦いを繰り広げたい…</p>
  <p>けん玉の技を競い合いたい…</p>
  <p>そんな風に思ったことはありませんか？</p>
  <p>でも近場に同じ趣味の人がいない…</p>
  <p>ならインターネットでお友達を作っちゃおう！</p>
  <p>ここはそんなサイトです</p>
</div>
