<div class="container">
  <table class="table">
    <h2>管理者インデックス / カスタマー一覧</h2>
    <thead class="thead-light">
      <tr>
        <th scope="col">name</th>
        <th scope="col">mail</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.nickname %></td>
          <td><%= customer.email %></td>
        </tr>  
      <% end %>
    </tbody>
  </table>
  <%#= link_to '管理者TOP', admin_home_top_path, class: "btn btn-secondary me-2" %>
</div>